.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.level-2 {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: lightsalmon;
  padding: 20px;
}

.drinks {
  width: 75%;
  background-color: lightcyan;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  padding-left: 1%;
  padding-top: 1%;
  row-gap: 20px;
}

.shopping-list {
  width: 25%;
  position: static;
  background-color: lavender;
  padding: 20px;
}

.searching-bar {
  width: 100%;
  justify-content: center;
}

form,
.search-field {
  width: 50%;
  height: 30px;
  border-radius: 25%;
  text-align: center;
}

img,
h1,
h2{
  width: 100%;
  text-align: center;
}

.card {
  width: 24%;
}

li {
  font-size: 11px;
}

p {
  font-size: 12px;
}

button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-bottom: 10px;
}

button:hover,
button:focus {
  background-color: #07c;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #0064bd;
  box-shadow: none;
}
