

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.level-2{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: lightsalmon;
  padding: 20px;
}

.drinks{
  width: 65%;
  background-color: lightcyan;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  padding-left: 1%;
  padding-top: 1%;
  row-gap: 20px;
}

.shopping-list {
  width: 35%;
  background-color: lavender;
  padding: 20px;
}

.searching-bar {
  width: 100%;
  justify-content: center;
}

form,
.search-field {
  width: 100%;
}

img{
  width: 100%
}

.card {
  width: 24%;
}