

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: flex-start;
    background-color: lightblue;
}

.main-container div{
    margin: 1%;    

}
#level-2{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.searching-bar {
   
    justify-content: center;
}
.drinks{
    align-self: left;
    display: inline;
    width: 65%;
    order: 5;
    background-color: lightcyan;
}
.shopping-list {
    align-self: right;
    display:inline;
    width: 35%;
    order: 1;
    background-color: lavender;
}
img{
    width: 100%
}

.card {
  width: 20%;  
}